{% extends 'BladeTesterCalendarBundle:Base:base.html.twig' %}

{% block body %}
    <h1 class="main-title">{{ 'bladetester_calendar.label.agenda'|trans }}</h1>

    <nav>
        <ul class="tabs-btn">
            <li>
                <a href="{{ path('calendar_event_list') }}" class="btn tab-btn tab-first{% if app.request.attributes.get('_route') == 'calendar_event_list' %} active{% endif %}">{{ 'bladetester_calendar.label.agenda'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('calendar_event_list_by_day', {'year': "now"|date('Y'), 'month': "now"|date('m'), 'day' : "now"|date('d')}) }}" class="btn tab-btn tab-middle{% if app.request.attributes.get('_route') == 'calendar_event_list_by_day' %} active{% endif %}">{{ 'bladetester_calendar.label.day'|trans }}</a></li>
            <li>
                <a href="{{ path('calendar_event_list_by_week', {'year': "now"|date('Y'), 'month': "now"|date('m'), 'day' : "now"|date('d')}) }}" class="btn tab-btn tab-middle{% if app.request.attributes.get('_route') == 'calendar_event_list_by_week' %} active{% endif %}">{{ 'bladetester_calendar.label.week'|trans }}</a></li>
            <li>
                <a href="{{ path('calendar_event_list_by_month', {'year': "now"|date('Y'), 'month': "now"|date('m')}) }}" class="btn tab-btn tab-last{% if app.request.attributes.get('_route') == 'calendar_event_list_by_month' %} active{% endif %}">{{ 'bladetester_calendar.label.month'|trans }}</a></li>
        </ul>
    </nav>

    <nav class="list-options">
        <ul class="list-inline column w-20">
            <li>
                <a id="calendar-event-add-btn" href="{{ path('calendar_event_add') }}?destination={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}&year={{ current|date('Y') }}&month={{ current|date('m') }}&day={{ current|date('d') }}" class="btn btn-primary">{{ 'bladetester_calendar.label.event.add'|trans }}</a>
            </li>
        </ul>
        <ul class="list-inline column w-80 t-align-right">
            <li><a class="btn" href="#" onclick="window.print();return false;">{{ 'bladetester_calendar.label.print'|trans }}</a></li>
            <li><a class="btn" href="{{ path('calendar_settings') }}">{{ 'bladetester_calendar.label.settings'|trans }}</a></li>
        </ul>
    </nav>

    <section class="main-content">
        <div class="schedule">
            <section class="schedule-nav">
                {% block calendar_date_selector %}
                {% endblock %}
                {% block calendar_sidebar %}
                    {% render(controller('BladeTesterCalendarBundle:Calendar:showMini', { year : "now"|date('Y'), month: "now"|date('m') })) %}
                {% endblock %}
            </section>

            {% block calendar_body %}
            {% endblock %}
        </div>
    </section>
{% endblock %}

