<html>
    <head>
        <link rel="stylesheet" href="{{ asset('public/css/calendar.css') }}">
    </head>
    <body>
        <aside class="calendar-sidebar">
            {% block calendar_sidebar %}
                {% render 'BladeTesterCalendarBundle:Calendar:showMini' with { year : "now"|date('Y'), month: "now"|date('m') } %}
            {% endblock %}
        </aside>
        {% block nav_zone %}
            <div class="nav-zone">
                <ul class="tabs-btn">
                    <li>
                        <a href="{{ path('calendar_event_list') }}" class="btn tab-btn tab-first{% if app.request.attributes.get('_route') == 'calendar_event_list' %} active{% endif %}">Agenda</a>
                    </li>
                    <li>
                        <a href="{{ path('calendar_event_list_by_day', {'year': "now"|date('Y'), 'month': "now"|date('m'), 'day' : "now"|date('d')}) }}" class="btn tab-btn tab-middle{% if app.request.attributes.get('_route') == 'calendar_event_list_by_day' %} active{% endif %}">Día</a></li>
                    <li>
                        <a href="{{ path('calendar_event_list_by_week', {'year': "now"|date('Y'), 'month': "now"|date('m'), 'day' : "now"|date('d')}) }}" class="btn tab-btn tab-middle{% if app.request.attributes.get('_route') == 'calendar_event_list_by_week' %} active{% endif %}">Semana</a></li>
                    <li>
                        <a href="{{ path('calendar_event_list_by_month', {'year': "now"|date('Y'), 'month': "now"|date('m')}) }}" class="btn tab-btn tab-last{% if app.request.attributes.get('_route') == 'calendar_event_list_by_month' %} active{% endif %}">Mes</a></li>
                </ul>

                <div class="calendar-list-options">
                    <a href="#" class="btn">Imprimir</a>
                    <a href="#" class="btn">Configurar</a>
                </div><!-- .calendar-list-options -->
            </div>
        {% endblock %}
        {% block calendar_body %}
        {% endblock %}
    </body>
</html>