<p>
  <time datetime="{{ event.start|date('Y-m-d H:i') }}" class="appointment-date">{{ event.start|date('H:i') }}</time>
  <a href="#" class="appointment-issue">{{ event.title }}</a>
</p>
<a href="{{ path('calendar_event_edit', { id: event.id })}}?destination={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="full-link" title="{% if event.category %}{{ event.category.name }} :: {% endif %}{{ event.title }}"></a>
