{% extends 'BladeTesterCalendarBundle:Event:base.html.twig' %}


{% block calendar_date_selector %}
    <table class="dp-monthtable" role="presentation">
        <tbody>
        <tr id="dp_0_header" class="monthtableHeader">
            <td colspan="5" id="dp_0_cur" class="dp-cell dp-sb-cur">
                <span class="calendar-date-current-date">
                    {{ '%month% of %year%'|trans({ '%month%': current|date('F')|trans, '%year%': current|date('Y')}) }}
                </span>
            </td>
            <td colspan="2" class="dp-cell dp-sb-nav">
                <a href="{{ path('calendar_event_list_by_month', {'year': previous|date('Y'), 'month': previous|date('m')}) }}" class="btn">&lt;</a>
                <a href="{{ path('calendar_event_list_by_month', {'year': next|date('Y'), 'month': next|date('m')}) }}" class="btn">&gt;</a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}


{% block calendar_body %}
    <section class="schedule-content schedule-view-month">

        <ul class="list-table">
            <li class="list-table-header">
                <ul class="list-table-row">
                    <li class="list-table-header-cell"><abbr title="{{ 'monday'|trans }}">{{ 'bladetester_calendar.abbr.monday'|trans }}</abbr></li>
                    <li class="list-table-header-cell"><abbr title="{{ 'tuesday'|trans }}">{{ 'bladetester_calendar.abbr.tuesday'|trans }}</abbr></li>
                    <li class="list-table-header-cell"><abbr title="{{ 'wednesday'|trans }}">{{ 'bladetester_calendar.abbr.wednesday'|trans }}</abbr></li>
                    <li class="list-table-header-cell"><abbr title="{{ 'thursday'|trans }}">{{ 'bladetester_calendar.abbr.thursday'|trans }}</abbr></li>
                    <li class="list-table-header-cell"><abbr title="{{ 'friday'|trans }}">{{ 'bladetester_calendar.abbr.friday'|trans }}</abbr></li>
                    <li class="list-table-header-cell"><abbr title="{{ 'saturday'|trans }}">{{ 'bladetester_calendar.abbr.saturday'|trans }}</abbr></li>
                    <li class="list-table-header-cell"><abbr title="{{ 'sunday'|trans }}">{{ 'bladetester_calendar.abbr.sunday'|trans }}</abbr></li>
                </ul>
            </li>
            <li class="list-table-body">
                {% for date in dates %}
                    {% if loop.index0%7 == 0 %}<ul class="list-table-row">{% endif %}
                        <li class="list-table-cell{% if date|date('Y-m-d') == "today"|date('Y-m-d') %} today{% endif %}{% if date|date('m') != current|date('m') %} day-other-month{% endif %}">
                            <time class="day-number" datetime="{{ date|date('Y-m-d H:i') }}">{{ date|date('d') }}</time>
                            {% include 'BladeTesterCalendarBundle:Event:group.html.twig' with {'events': events.allByDate(date)} %}
                            <a href="{{ path('calendar_event_add') }}?year={{ date|date('Y')}}&month={{ date|date('m') }}&day={{ date|date('d') }}&destination={{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" class="full-link"></a>
                        </li>
                        {% if loop.index0%7 == 6 %}</ul>{% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/bladetestercalendar/js/calendar.js') }}"></script>
{% endblock %}
