{% extends 'BladeTesterCalendarBundle:Event:base.html.twig' %}

{% block calendar_body %}
    {% if events.count > 0 %}
        <section class="calendar-view-schedule">
            <ul class="timetable-list">
                {% for date in events.dates %}
                    <li class="day">
                        <p class="day-link"><a href="{{ path('calendar_event_list_by_day', {'year' : date|date('Y'), 'month' : date|date('m'), 'day' : date|date('d')}) }}"><time datetime="{{ date|date('Y-m-d H:i') }}">{{ date|date('l, d') }} de {{ date|date('F') }}</time></a></p>
                        <ul class="calendar-group-appointments">
                            {% for event in events.allByDate(date) %}
                                <li class="appointment {% if event.category %}appointment-{{ event.category.color }}{% endif %}">{% include 'BladeTesterCalendarBundle:Event:event.html.twig' with { 'event' : event } %}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% else %}
        <p>
            {{ 'bladetester_calendar.list.no_events'|trans }}
        </p>
    {% endif %}
{% endblock %}