<div id="mini-calendar" class="dpdiv goog-zippy-expanded goog-zippy-content">
    <div class="dp-monthtablediv monthtableSpace">
        <table></table>
        <table class="dp-monthtable monthtableBody" summary="Minicalendario - marzo de 2013" cellspacing="0" cellpadding="0" id="dp_0_tbl">
            <tbody>
                <tr class="dp-days">
                    <th scope="col" class="dp-cell dp-dayh" title="{{ 'Monday'|trans }}">{{ 'bladetester_calendar.abbr.monday'|trans }}</th>
                    <th scope="col" class="dp-cell dp-dayh" title="{{ 'Tuesday'|trans }}">{{ 'bladetester_calendar.abbr.tuesday'|trans }}</th>
                    <th scope="col" class="dp-cell dp-dayh" title="{{ 'Wednesday'|trans }}">{{ 'bladetester_calendar.abbr.wednesday'|trans }}</th>
                    <th scope="col" class="dp-cell dp-dayh" title="{{ 'Thursday'|trans }}">{{ 'bladetester_calendar.abbr.thursday'|trans }}</th>
                    <th scope="col" class="dp-cell dp-dayh" title="{{ 'Friday'|trans }}">{{ 'bladetester_calendar.abbr.friday'|trans }}</th>
                    <th scope="col" class="dp-cell dp-dayh dp-cell dp-weekendh" title="{{ 'Saturday'|trans }}">{{ 'bladetester_calendar.abbr.saturday'|trans }}</th>
                    <th scope="col" class="dp-cell dp-dayh dp-cell dp-weekendh" title="{{ 'Sunday'|trans }}">{{ 'bladetester_calendar.abbr.sunday'|trans }}</th>
                </tr>
                {% for day in dates %}
                    {% if loop.index0%7 == 0 %}<tr>{% endif %}
                        <td class="day{% if day|date('Y-m-d') == "today"|date('Y-m-d') %} today{% endif %}{% if day|date('m') != "today"|date('m') %} offmonth{% endif %}">
                            <a href="{{ path('calendar_event_list_by_day', {'year': day|date('Y'), 'month': day|date('m'), 'day': day|date('d') }) }}">{{ day|date('d') }}</a>
                        </td>
                    {% if loop.index0%7 == 6 %}</tr>{% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>