{% extends 'BladeTesterCalendarBundle:Event:base.html.twig' %}

{% block body %}
<form id="category-add" method="POST" action="{{ url('calendar_category_add') }}?destination={{ app.request.get('destination') }}" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" value="{{ 'bladetester_calendar.label.category.add'|trans }}" />
</form>
{% endblock %}