{% extends 'BladeTesterCalendarBundle:Base:base.html.twig' %}

{% block body %}
<h1>{{ "bladetester_calendar.title.category.edit"|trans }}</h1>

<form id="category-edit" method="POST" action="{{ url('calendar_category_edit', {'id' : category.id }) }}?destination={{ app.request.get('destination') }}" {{ form_enctype(form) }}>
    {% include 'BladeTesterCalendarBundle:Category:form.html.twig' %}
    <input type="submit" value="{{ 'bladetester_calendar.label.category.edit'|trans }}" />
</form>
{% endblock %}
