<h2>{{ "bladetester_calendar.title.category.list"|trans }}</h2>

{% if categories %}
    <ul>
        {% for category in categories %}
            <li class="event-category event-color-{{ category.color }}">
                <a href="{{ path('calendar_category_edit', {'id': category.id}) }}">{{ category.name }}</a>
                (<a class="alert" href="{{ path('calendar_category_delete', {'id': category.id}) }}" onclick="return confirm('{{ 'bladetester_calendar.label.event_category.delete_warning'|trans }}');">{{ 'bladetester_calendar.label.delete'|trans }}</a>)
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ "bladetester_calendar.list.no_categories"|trans }}</p>
{% endif %}

<a href="{{ path('calendar_category_add') }}">{{ 'bladetester_calendar.label.category.add'|trans }}</a>
